*{
  box-sizing: border-box;
}

body{
  min-height:100%
  width:100%;
}



form{
  font-size: 18px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

p{
  font-size: 30px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

a{
  margin-top: 20px;
}

.button{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #6abfc3;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top:20px;
}

.intro-header{
  display: block;
  margin:0 auto;
}

.containers{
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width:300px;

}
.mystyle{
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  width: 33%;
  box-sizing: border-box;
  height:33%;
}

.mystyle:nth-child(1),
.mystyle:nth-child(4),
.mystyle:nth-child(7),
.mystyle:nth-child(2),
.mystyle:nth-child(5),
.mystyle:nth-child(8){
  border-right:4px solid black;
}
.mystyle:nth-child(1),
.mystyle:nth-child(2),
.mystyle:nth-child(3),
.mystyle:nth-child(4),
.mystyle:nth-child(5),
.mystyle:nth-child(6){
  border-bottom:4px solid black;
}

#restart{
  display: none;
}